__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
Thumbs.db
instance/
*.db
*.sqlite
*.sqlite3
.env
*.flaskenv

todo/

logs/

buyhighio-firebase-adminsdk-fbsvc-df9d657bec.json

todo.md

xnotes/

mac_start_server.sh

.api_key_status.json

user_data/

start_and_test.sh
SECRE_CODES.md

GoogleService-Info.plist